In [1]:
'''
CEL:
-Wyciąganie ulic automatycznie (pętla) z pliku liczniki
- Przypisywanie określonym identyfikatorom z dużej bazy nazw ulic
'''

'\nCEL:\n-Wyciąganie ulic automatycznie (pętla) z pliku liczniki\n- Przypisywanie określonym identyfikatorom z dużej bazy nazw ulic\n'

# Załadowanie datasetów

In [33]:
import pandas as pd, numpy as np

In [3]:

df_raw = pd.read_csv('FULL_DEBUGGED1V1.csv')
df = df_raw.copy()

C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\3075782957.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('FULL_DEBUGGED1V1.csv')

In [135]:
df.head()

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,dTcw[°C],Gcw[t/h]_12,Tzcw[°C],Qcw[GJ]_13,Vcw[m3]_14,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
0,2021-01-01 00:00:00,684001,_,_,_,_,1.45,83.4,54.4,3728.120,...,_,_,_,_,_,_,_,_,_,_
1,2021-01-01 01:00:00,684001,_,_,_,_,1.93,82.7,56.2,3728.320,...,_,_,_,_,_,_,_,_,_,_
2,2021-01-01 02:00:00,684001,_,_,_,_,1.92,83.7,57.3,3728.520,...,_,_,_,_,_,_,_,_,_,_
3,2021-01-01 03:00:00,684001,_,_,_,_,2.15,82.7,58.9,3728.740,...,_,_,_,_,_,_,_,_,_,_
4,2021-01-01 04:00:00,684001,_,_,_,_,2.14,83.6,58.8,3728.950,...,_,_,_,_,_,_,_,_,_,_

In [105]:
df_raw_liczniki = pd.read_excel("liczniki.xlsx")
df_liczniki = df_raw_liczniki.copy()

In [106]:
adresy = []
for index in range(len(df_liczniki)):
    adresy.append(df_liczniki['AdrUlica'][index]+'_'+str(df_liczniki['AdrNr'][index]))
'''Liczniki - zamiana na str i usuniecie ostatniego znaku'''
liczniki = []
for index in range(len(df_liczniki)):
    liczniki.append(str(df_liczniki['Licznik'][index])[:len(str(df_liczniki['Licznik'][index]))-1])
'''Rodzaje liczników'''
typy = []
for index in range(len(df_liczniki)):
    typy.append(df_liczniki['LicznikTyp'][index])

In [134]:
adresy

['Mieszka I_2',
 'Piastowska_44',
 'Mieszka I_5',
 'Skargi_4',
 'Piekarska_50',
 'Krakowska_43',
 'Doliny Miętusiej_25',
 'Towarzystwa Szkoły Ludowej_14',
 'Mickiewicza_38',
 'Piastowska_62',
 'Sternicza_22e',
 'Młyńska_72',
 'Złotych Kłosów_52a',
 'Kunickiego_12',
 'Rynek_6',
 'Tańskiego_56',
 'Mostowa_5',
 'Kunickiego_3',
 'Batorego_16',
 'Matusiaka_5',
 'Goleszowska_9',
 'Goleszowska_9',
 'Goleszowska_9',
 'Osuchowskiego_4',
 'Brodzińskiego_25',
 'Kozia_3',
 'Kozia_17',
 'Kozia_10',
 'Traugutta_1',
 'Czwartaków_6',
 'Zwierzyniecka_9',
 'Słowackiego_45',
 'Łagodna_95',
 'Jana Chrzciciela_30',
 'Gorkiego_17',
 'Jutrzenki_24A',
 'Łagodna_17',
 'Tuwima_66a',
 'Stojałowskiego_44',
 'Łagodna_87a',
 'Sukiennicza_7',
 'Grażyny_9',
 'Siemiradzkiego_4',
 'Piastów Śląskich_10a',
 'św. Pawła_nan',
 'Wapienicka_1',
 'Regera_16',
 'Kasztanowa_2',
 'Cieszyńska_71',
 'Giewont_22',
 'Doliny Miętusiej_4',
 'Doliny Miętusiej_4',
 'Zaruskiego_12',
 'Boboli_nan',
 'Skośna_5',
 'Słowackiego_28e',
 'Mieszka I_4',
 'Doliny Miętusiej_17',
 'Bardowskiego_12',
 'Dembowskiego_6a',
 'Siewna_8a',
 'Grunwaldzka_33',
 'Łukasińskiego_2',
 'Piekarska_50',
 'Lenartowicza_20',
 'Starostów Lipnickich_6',
 'Kustronia_4a',
 'Żyzna_6b',
 'Aleja Armii Krajowej_141b',
 'Kilińskiego_1',
 'Kilińskiego_1',
 'Wapienicka_12',
 'Asnyka_4',
 'Długa_12',
 'Gorkiego_3A',
 'Gorkiego_3A',
 'Żywiecka_15',
 'Gorkiego_5',
 'Gorkiego_5',
 'Złotych Kłosów_54',
 'Złotych Kłosów_54',
 'Złotych Kłosów_56',
 'Złotych Kłosów_56',
 'Złotych Kłosów_58',
 'Złotych Kłosów_58',
 'Tuwima_66',
 'Tuwima_66',
 'Tuwima_70',
 'Tuwima_70',
 'Tuwima_60',
 'Tuwima_60',
 'Tuwima_72',
 'Tuwima_72',
 'Tuwima_62',
 'Łagodna_85',
 'Łagodna_85',
 'Łagodna_87',
 'Łagodna_87',
 'Siewna_4',
 'Siewna_4',
 'Siewna_6',
 'Siewna_6',
 'Siewna_8',
 'Siewna_8',
 'Łagodna_89',
 'Łagodna_89',
 'Łagodna_91',
 'Łagodna_91',
 'Siewna_10',
 'Siewna_10',
 'Siewna_12',
 'Siewna_12',
 'Siewna_5',
 'Siewna_5',
 'Łagodna_93',
 'Łagodna_93',
 'Siewna_16',
 'Siewna_16',
 'Tuwima_86',
 'Tuwima_86',
 'Tuwima_88',
 'Tuwima_88',
 'Urodzajna_1A',
 'Urodzajna_1A',
 'Urodzajna_1',
 'Urodzajna_1',
 'Urodzajna_1C',
 'Urodzajna_1C',
 'Urodzajna_1B',
 'Urodzajna_1B',
 'Żywiecka_125',
 'Straconki_25',
 'Straconki_25',
 'Barska_70',
 'Leszczyńska_73',
 'Leszczyńska_73',
 'Leszczyńska_73',
 'Leszczyńska_73',
 'Leszczyńska_73',
 'Leszczyńska_43',
 'Leszczyńska_43',
 'Leszczyńska_20',
 'Leszczyńska_20',
 'Maczka_9',
 'Maczka_71',
 'Maczka_73',
 'Maczka_71b',
 'Przędzalnicza_14',
 'Kustronia_74',
 'Kustronia_74',
 'Kustronia_74',
 'Kustronia_74',
 'Rzeczna_6,6a,6b',
 'Rzeczna_6,6a,6b',
 'Rzeczna_6c',
 'Rzeczna_6c',
 'Lenartowicza_20',
 'Lenartowicza_34',
 'Lenartowicza_30',
 'Lenartowicza_36',
 'Lenartowicza_32',
 'Lenartowicza_19A',
 'Lenartowicza_23',
 'Lenartowicza_19',
 'Lenartowicza_21',
 'Składowa_2',
 'Lenartowicza_38',
 'Lenartowicza_25',
 'Lenartowicza_40',
 'Lenartowicza_27',
 'Lenartowicza_29',
 'Lenartowicza_39',
 'Lenartowicza_33',
 'Lenartowicza_37',
 'Lenartowicza_35',
 'Lenartowicza_22',
 'Lenartowicza_22',
 'Jutrzenki_3',
 'Jutrzenki_3',
 'Jutrzenki_7',
 'Jutrzenki_7',
 'Podgórze_3',
 'Podgórze_5A',
 'Podgórze_5',
 'Lenartowicza_16',
 'Lenartowicza_18',
 'Jutrzenki_4',
 'Karowa_3',
 'Karowa_5',
 'Karowa_4',
 'Lelewela_23',
 'Lelewela_25',
 'Karowa_6',
 'Karowa_7',
 'Karowa_8',
 'Lenartowicza_12',
 'Lelewela_32',
 'Lelewela_34',
 'Akademii Umiejętności_33',
 'Lelewela_36',
 'Lenartowicza_13',
 'Lelewela_26',
 'Akademii Umiejętności_25',
 'Lelewela_24',
 'Jutrzenki_17',
 'Podgórze_4',
 'Podgórze_6',
 'Podgórze_8',
 'Jutrzenki_19',
 'Jutrzenki_21',
 'Jutrzenki_23',
 'Jutrzenki_25',
 'Jutrzenki_27',
 'Jutrzenki_29',
 'Podgórze_10',
 'Podgórze_12',
 'Podgórze_14',
 'Gorkiego_15',
 'Gorkiego_40',
 'Gorkiego_38',
 'Majakowskiego_24',
 'Krasickiego_25',
 'Akademii Umiejętności_57',
 'Akademii Umiejętności_55',
 'Majakowskiego_15',
 'Majakowskiego_17',
 'Majakowskiego_19',
 'Majakowskiego_21',
 'Akademii Umiejętności_60',
 'Prusa_3',
 'Krasickiego_16',
 'Akademii Umiejętności_65A',
 'Akademii Umiejętności_65B',
 'Akademii Umiejętności_64',
 'Akademii Umiejętności_66',
 'Prusa_13',
 'Akademii Umiejętności_69',
 'Jutrzenki_18',
 'Jutrzenki_20',
 'Jutrzenki_22',
 'Jutrzenki_24',
 'Jutrzenki_24A',
 'Jutrzenki_24D',
 'Jutrzenki_33',
 'Jutrzenki_33',
 'Jutrzenki_31',
 'Jutrzenki_31',
 'Podgórze_16',
 'Podgórze_16',
 'Podgórze_18',
 'Podgórze_18',
 'Podgórze_20',
 'Podgórze_20',
 'Podgórze_22',
 'Podgórze_22',
 'Podgórze_24',
 'Podgórze_24',
 'Podgórze_17',
 'Podgórze_17',
 'Podgórze_11A',
 'Podgórze_11',
 'Podgórze_9A',
 'Łagodna_11',
 'Jutrzenki_26',
 'Łagodna_15',
 'Łagodna_13',
 'Jutrzenki_37',
 'Jutrzenki_37',
 'Łagodna_23',
 'Łagodna_23',
 'Jutrzenki_41',
 'Jutrzenki_41',
 'Łagodna_21',
 'Łagodna_21',
 'Jutrzenki_39',
 'Jutrzenki_39',
 'Łagodna_27',
 'Łagodna_27',
 'Łagodna_33',
 'Łagodna_33',
 'Łagodna_29',
 'Łagodna_29',
 'Łagodna_31',
 'Łagodna_31',
 'Łagodna_25',
 'Łagodna_25',
 'Łagodna_39',
 'Łagodna_39',
 'Łagodna_39',
 'Łagodna_39',
 'Łagodna_37',
 'Łagodna_37',
 'Łagodna_37',
 'Łagodna_37',
 'Łagodna_35',
 'Łagodna_35',
 'Łagodna_35',
 'Łagodna_35',
 'Łagodna_17',
 'Łagodna_18',
 'Osadnicza_4',
 'Osadnicza_8',
 'Akademii Umiejętności_81',
 'Akademii Umiejętności_79',
 'Żywiecka_115',
 'Żywiecka_119',
 'Żywiecka_123',
 'Żywiecka_121A',
 'Żywiecka_121',
 'Osadnicza_12',
 'Akademii Umiejętności_83',
 'Osadnicza_6',
 'Osadnicza_5',
 'Dobra_27',
 'Osadnicza_10',
 'Osadnicza_7',
 'Dobra_25',
 'Osadnicza_14',
 'Osadnicza_9',
 'Dobra_23',
 'Akademii Umiejętności_85',
 'Akademii Umiejętności_78',
 'Akademii Umiejętności_80',
 'Łagodna_22',
 'Łagodna_24',
 'Łagodna_26',
 'Łagodna_30',
 'Łagodna_30',
 'Łagodna_32',
 'Łagodna_32',
 'Łagodna_34',
 'Łagodna_34',
 'Wiejska_2',
 'Wiejska_4',
 'Wiejska_4',
 'Wiejska_2',
 'Wiejska_2',
 'Dworkowa_5',
 'Broniewskiego_21',
 'Rychlińskiego_19',
 'Akademii Umiejętności_1',
 'Opatrzności Bożej_19',
 'Dmowskiego_7',
 'Dmowskiego_7',
 'Dmowskiego_7',
 'Dmowskiego_15A',
 'Dmowskiego_15A',
 'Dmowskiego_15A',
 'Dmowskiego_15B',
 'Dmowskiego_15B',
 'Dmowskiego_15B',
 'Kierowa_10',
 'Kierowa_10',
 'Kierowa_10',
 'Broniewskiego_10B',
 'Broniewskiego_10B',
 'Broniewskiego_10B',
 'Broniewskiego_10F',
 'Broniewskiego_10F',
 'Broniewskiego_10F',
 'Stojałowskiego_44',
 'Broniewskiego_4',
 'Broniewskiego_4',
 'Broniewskiego_4',
 'Broniewskiego_7',
 'Broniewskiego_7',
 'Broniewskiego_7',
 'Broniewskiego_7',
 'Opatrzności Bożej_19',
 'Żywiecka_20',
 'Żywiecka_20',
 'Żywiecka_20',
 'Broniewskiego_13',
 'Stojałowskiego_48',
 'Ratuszowy_1',
 'Ratuszowy_1',
 'Stojałowskiego_23',
 'Dmowskiego_14 i 16',
 'Ratuszowy_5',
 'Ratuszowy_7',
 'Ratuszowy_6',
 'Kunickiego_12',
 'Wilsona_5',
 'Kunickiego_16',
 'Kunickiego_9',
 'Kunickiego_9',
 'Kunickiego_3',
 'Bohaterów Warszawy_26',
 'Bohaterów Warszawy_26',
 'Bohaterów Warszawy_16',
 'Bohaterów Warszawy_19',
 'Bohaterów Warszawy_2022-10-08 00:00:00',
 'Bohaterów Warszawy_12',
 'Bohaterów Warszawy_13',
 'Bohaterów Warszawy_11',
 'Bohaterów Warszawy_9',
 'Bohaterów Warszawy_5',
 'Bohaterów Warszawy_3',
 'Wilsona_4',
 'Wilsona_4',
 'Wilsona_4',
 'Wilsona_4',
 'Grota-Roweckiego_34',
 'Grota-Roweckiego_34',
 'Grota-Roweckiego_28',
 'Grota-Roweckiego_28',
 'Grota-Roweckiego_26',
 'Grota-Roweckiego_24',
 'Grota-Roweckiego_30',
 'Inwalidów_3',
 'Grota-Roweckiego_20',
 'Grota-Roweckiego_12 i 14',
 'Grota-Roweckiego_10',
 'Kołłątaja_4',
 '1 Maja_1',
 '1 Maja_1',
 '1 Maja_9',
 '1 Maja_2 i 4',
 '1 Maja_13',
 '1 Maja_12',
 'Sukiennicza_7',
 '1 Maja_21',
 '1 Maja_18',
 'Powstańców Śląskich_6',
 '1 Maja_19',
 'Łukasińskiego_4',
 'Łukasińskiego_2',
 'Łukasińskiego_2',
 'Łukasińskiego_2',
 'Romanowicza_6',
 'Romanowicza_6',
 'Krakowska_56',
 'Krakowska_56',
 'Krakowska_23',
 'Krakowska_23',
 'Krakowska_27',
 'Krakowska_50',
 'Krakowska_50',
 'Krakowska_52',
 'Krakowska_52',
 'Krakowska_54',
 'Krakowska_54',
 'Krakowska_43',
 'Dygasińskiego_23',
 'Dygasińskiego_23',
 'Dygasińskiego_25',
 'Dygasińskiego_25',
 'Wapienna_30',
 'Wapienna_30',
 'Wapienna_36',
 'Wapienna_36',
 'Wapienna_32',
 'Wapienna_32',
 'Wapienna_34',
 'Wapienna_34',
 'Wapienna_38',
 'Wapienna_38',
 'Wapienna_40',
 'Wapienna_40',
 'Wapienna_42',
 'Wapienna_42',
 'Wapienna_44',
 'Wapienna_44',
 'Romanowicza_26',
 'Romanowicza_28',
 'Romanowicza_30',
 'Romanowicza_32',
 'Romanowicza_34',
 'Romanowicza_36',
 'Dembowskiego_12',
 'Dembowskiego_12',
 'Dembowskiego_12',
 'Dembowskiego_14',
 'Dembowskiego_14',
 'Dembowskiego_14',
 'Kazimierza Wielkiego_21',
 'Starostów Lipnickich_4',
 'Lwowska_14A',
 'Starostów Lipnickich_2',
 'Lwowska_14',
 'Starostów Lipnickich_5',
 'Starostów Lipnickich_3',
 'Lwowska_16',
 'Lwowska_18A',
 'Lwowska_18',
 'Kazimierza Wielkiego_25',
 'Kazimierza Wielkiego_28A',
 'Kazimierza Wielkiego_28',
 'Kazimierza Wielkiego_24',
 'Kazimierza Wielkiego_22',
 'Kazimierza Wielkiego_20',
 'Krakowska_9',
 'Wyzwolenia_18',
 'Szkolna_14a',
 'Kazimierza Wielkiego_68',
 'Kazimierza Wielkiego_68',
 'Kazimierza Wielkiego_70',
 'Kazimierza Wielkiego_70',
 'Piekarska_197',
 'Piekarska_199',
 'Wapienna_45',
 'Wapienna_45',
 'Wyzwolenia_97',
 'Wyzwolenia_95',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Piekarska_50',
 'Wyzwolenia_84',
 'Wyzwolenia_84',
 'Wyzwolenia_84',
 'Bukietowa_22',
 'Orchidei_17',
 'Orchidei_13',
 'Orchidei_11',
 'Orchidei_19',
 'Orchidei_21',
 'Boruty-Spiechowicza_39',
 'Boruty-Spiechowicza_24',
 'Boruty-Spiechowicza_20',
 'Boruty-Spiechowicza_20',
 'Komorowicka_82',
 'Komorowicka_82',
 'Komorowicka_76',
 'Komorowicka_76',
 'Legionów_81',
 'Legionów_65',
 'Boruty-Spiechowicza_27',
 'Legionów_79',
 'Legionów_54',
 'Legionów_47',
 'Legionów_35',
 'Legionów_35',
 'Legionów_37',
 'Kilińskiego_1',
 'Kilińskiego_1',
 'Kilińskiego_1',
 'Okrzei_2',
 'Grażyńskiego_22',
 'Grażyńskiego_22',
 'Nadbrzeżna_12',
 'Towarzystwa Szkoły Ludowej_14-16',
 'Towarzystwa Szkoły Ludowej_20',
 'Legionów_10',
 'Paderewskiego_7',
 'Paderewskiego_7',
 'Wolności_6',
 'Staszica_2',
 'Staszica_2',
 'Staszica_1',
 'Cyniarska_11',
 'Cyniarska_11',
 'Trakcyjna_nan',
 'Wałowa_nan',
 'Traugutta_2C',
 'Warszawska_45',
 'Filarowa_2',
 'Czechowicka_43',
 'Czechowicka_25',
 'Traugutta_2A',
 'Czechowicka_24',
 'Krecia_3',
 'Krecia_3',
 'Kozia_3',
 'Kozia_3',
 'Kozia_3',
 'Kozia_3A',
 'Kozia_3A',
 'Kozia_3A',
 'Kozia_7A',
 'Kozia_7A',
 'Kozia_7A',
 'Kozia_7B',
 'Kozia_7B',
 'Kozia_7B',
 'Kozia_5',
 'Kozia_5',
 'Kozia_5',
 'Kozia_7',
 'Kozia_7',
 'Kozia_7',
 'Kozia_9',
 'Kozia_9',
 'Kozia_9',
 'Kozia_1A',
 'Kozia_1A',
 'Kozia_1A',
 'Kozia_1',
 'Kozia_1',
 'Kozia_1',
 'Kozia_9',
 'Kozia_17',
 'Kozia_17',
 'Kozia_15',
 'Kozia_15',
 'Kozia_13',
 'Kozia_13',
 'Kozia_11',
 'Kozia_11',
 'Kozia_17A',
 'Kozia_17A',
 'Kozia_15A',
 'Kozia_15A',
 'Kozia_13A',
 'Kozia_13A',
 'Kozia_11A',
 'Kozia_11A',
 'Kozia_10A',
 'Kozia_10A',
 'Kozia_10B',
 'Kozia_10B',
 'Kozia_10C',
 'Kozia_10C',
 'Kozia_12',
 'Kozia_12',
 'Kozia_14',
 'Kozia_14',
 'Kozia_8',
 'Kozia_8',
 'Kozia_6A',
 'Kozia_6A',
 'Kozia_4A',
 'Kozia_4A',
 'Kozia_2A',
 'Kozia_2A',
 'Filarowa_7',
 'Filarowa_7',
 'Filarowa_7A',
 'Filarowa_7A',
 'Filarowa_7E',
 'Filarowa_7E',
 'Filarowa_7C,D',
 'Filarowa_7C,D',
 'Filarowa_7B',
 'Filarowa_7B',
 'Traugutta_12',
 'Traugutta_13',
 'Warszawska_7',
 'Przechód Dworcowy_2',
 'Piastowska_12B',
 'Żeromskiego_10A',
 'Żeromskiego_10',
 'Traugutta_1',
 'Traugutta_1',
 'Żeromskiego_14',
 'Żeromskiego_12',
 'Traugutta_3',
 'Traugutta_5',
 'Traugutta_7',
 'Piastowska_12-12A',
 'Piastowska_12-12A',
 'Piastowska_10',
 'Piastowska_10',
 'Przybyły_12',
 'Przybyły_12',
 'Mickiewicza_38',
 'Krasińskiego_34, 36',
 'Przybyły_8',
 'Sixta_17',
 'Sixta_15',
 'Mickiewicza_27',
 'Mickiewicza_30A',
 'Mickiewicza_34',
 'Sixta_5',
 'Słowackiego_28C',
 'Mickiewicza_22',
 'Dąbrowskiego_14',
 'Słowackiego_17A',
 'Słowackiego_17',
 'Słowackiego_15',
 'Krasińskiego_17',
 'Frycza Modrzewskiego_3',
 'Wzgórze_16',
 'Celna_2',
 'Celna_2',
 'Lutra_3',
 'Lutra_3',
 'Lutra_8',
 'Jana Sobieskiego_9',
 'Jana Sobieskiego_5',
 'Piwowarska_1',
 'Rynek_2 i 3',
 'Rynek_2 i 3',
 'św. Mikołaja_4',
 'św. Mikołaja_4',
 'św. Mikołaja_5',
 'Rejtana_3',
 'Zdrojowa_10',
 'Zdrojowa_10',
 'Zdrojowa_10',
 'Zdrojowa_10',
 'Wyspiańskiego_21',
 'Wyspiańskiego_21',
 'Wyspiańskiego_21',
 'Wyspiańskiego_21',
 'Wyspiańskiego_21',
 'Korna_5',
 'Korna_5',
 'Korna_7',
 'Korna_7',
 'Słowackiego_28E',
 'Słowackiego_30',
 'Piastowska_16',
 'Słowackiego_35',
 'Starobielska_1',
 'Starobielska_3',
 'Czecha_3',
 'Starobielska_8',
 'Starobielska_11',
 'Słowackiego_45',
 'Słowackiego_45',
 'Piastowska_22',
 'Piastowska_24',
 'Boryczki_13',
 'Boryczki_11',
 'Boryczki_3,5,7,9',
 'Piastowska_26',
 'Piastowska_28 i 30',
 'Boryczki_1',
 'Asnyka_16 B',
 'Asnyka_16 B',
 'Asnyka_16 A',
 'Asnyka_16 A',
 'Mieszka I_2',
 'Mieszka I_6',
 'Mieszka I_10',
 'Mieszka I_4',
 'Mieszka I_8',
 'Piastowska_46',
 'Piastowska_42',
 'Stwosza_14',
 'Stwosza_14',
 'Bolesława Krzywoustego_4',
 'Bolesława Krzywoustego_6',
 'Stwosza_22',
 'Mieszka I_13',
 'Mieszka I_11',
 'Stwosza_18',
 'Stwosza_27',
 'Stwosza_25',
 'Piastowska_48',
 'Mieszka I_29',
 'Bolesława Krzywoustego_9',
 'Mieszka I_23',
 'Mieszka I_24',
 'Mieszka I_26',
 'Mieszka I_28',
 'Mieszka I_5',
 'Mieszka I_3',
 'Mieszka I_7',
 'Listopadowa_69',
 'Listopadowa_67',
 'Listopadowa_65',
 'Osuchowskiego_2',
 'Osuchowskiego_4 i 6',
 'Osuchowskiego_4 i 6',
 'Karłowicza_4',
 'Wyspiańskiego_39',
 'Wyspiańskiego_41',
 'Wyspiańskiego_43',
 'Wyspiańskiego_38',
 'Grunwaldzka_24',
 'Wyspiańskiego_21',
 'Wyspiańskiego_21',
 'Wyspiańskiego_21',
 'Stwosza_10',
 '3 Pułku Strzelców Podhalańskich_3',
 'Jana Sobieskiego_40B',
 'Jana Sobieskiego_40C',
 'Jana Sobieskiego_40A',
 'Skargi_4',
 'Czysta_8',
 'Czysta_5',
 'Czysta_6',
 'Czysta_3',
 'Czysta_4',
 'Czysta_1',
 'Cieszyńska_28',
 'Grunwaldzka_21',
 'Grunwaldzka_25',
 'Jana Sobieskiego_78',
 'Zamoyskiego_2',
 'Jana Sobieskiego_80',
 'Grunwaldzka_35',
 'Grunwaldzka_33',
 'Zamoyskiego_11',
 'Zamoyskiego_11',
 'Zamoyskiego_11',
 'Jana Sobieskiego_84',
 'Grunwaldzka_41',
 'Grunwaldzka_48',
 'Grunwaldzka_46',
 'Grunwaldzka_39',
 'Żółkiewskiego_6',
 'Grunwaldzka_48',
 'Jana Sobieskiego_88',
 'Grunwaldzka_50',
 'Piastowska_43',
 'Piastowska_43',
 'Gałczyńskiego_18 i 18a',
 'Gałczyńskiego_18 i 18a',
 'Sempołowskiej_51',
 'Sempołowskiej_51',
 'Reymonta_10-Młyńska 61,63',
 'Reymonta_10-Młyńska 61,63',
 'Młyńska_57, 59',
 'Młyńska_57, 59',
 'Łukasiewicza_1',
 'Łukasiewicza_9',
 'Batorego_17A',
 'Batorego_17',
 'Batorego_17A',
 'Batorego_20D',
 'Batorego_20',
 'Batorego_14 i 16',
 'Batorego_18',
 'Czajkowskiego_6',
 'Młyńska_73',
 'Młyńska_70.72',
 'Partyzantów_61',
 'Partyzantów_61',
 'Karpacka_24',
 'Karpacka_24',
 'Bartnicza_10A',
 'Bartnicza_10A',
 'Bartnicza_10B',
 'Bartnicza_10B',
 'Bartnicza_10C',
 'Bartnicza_10C',
 'Karpacka_11',
 'Doliny Miętusiej_35',
 'Doliny Miętusiej_35',
 'Doliny Miętusiej_33',
 'Doliny Miętusiej_33',
 'Roztoki_1',
 'Roztoki_1',
 'Kustronia_4',
 'Kustronia_4',
 'Kustronia_4A',
 'Kustronia_4A',
 'Partyzantów_71',
 'Pięciu Stawów_4',
 'Pięciu Stawów_4',
 'Żyzna_6B',
 'Morskie Oko_15',
 'Morskie Oko_15',
 'Morskie Oko_15',
 'Morskie Oko_17',
 'Morskie Oko_17',
 'Morskie Oko_17',
 'Morskie Oko_21',
 'Morskie Oko_21',
 'Morskie Oko_21',
 'Morskie Oko_23',
 'Morskie Oko_23',
 'Morskie Oko_23',
 'Morskie Oko_23',
 'Morskie Oko_23',
 'Morskie Oko_23',
 'Morskie Oko_25',
 'Morskie Oko_25',
 'Morskie Oko_25',
 'Żyzna_6A',
 'Żyzna_6A',
 'Żyzna_6A',
 'Pięciu Stawów_3',
 'Pięciu Stawów_3',
 'Pięciu Stawów_3',
 'Pięciu Stawów_1',
 'Pięciu Stawów_1',
 'Pięciu Stawów_1',
 'Pięciu Stawów_5',
 'Pięciu Stawów_5',
 'Pięciu Stawów_5',
 'Pięciu Stawów_7',
 'Pięciu Stawów_7',
 'Pięciu Stawów_7',
 'Morskie Oko_7',
 'Morskie Oko_7',
 'Morskie Oko_7',
 'Pięciu Stawów_11',
 'Pięciu Stawów_11',
 'Pięciu Stawów_11',
 'Pięciu Stawów_6',
 'Morskie Oko_2',
 'Morskie Oko_2',
 'Morskie Oko_2',
 'Morskie Oko_4',
 'Morskie Oko_4',
 'Morskie Oko_4',
 'Doliny Miętusiej_27',
 'Doliny Miętusiej_27',
 'Doliny Miętusiej_21',
 'Doliny Miętusiej_21',
 'Roztoki_3',
 'Roztoki_3',
 'Roztoki_7',
 'Roztoki_7',
 'Doliny Miętusiej_25',
 'Doliny Miętusiej_25',
 'Doliny Miętusiej_15',
 'Doliny Miętusiej_15',
 'Doliny Miętusiej_11',
 'Doliny Miętusiej_11',
 'Giewont_6',
 'Giewont_6',
 'Doliny Miętusiej_8',
 'Doliny Miętusiej_8',
 'Doliny Miętusiej_17',
 'Giewont_20',
 'Giewont_20',
 'Giewont_18',
 'Giewont_18',
 'Giewont_16',
 'Giewont_16',
 'Giewont_3',
 'Giewont_3',
 'Giewont_12',
 'Giewont_12',
 'Giewont_10',
 'Giewont_10',
 'Giewont_8',
 'Giewont_8',
 'Doliny Miętusiej_3',
 'Doliny Miętusiej_3',
 'Doliny Miętusiej_3',
 'Doliny Miętusiej_3',
 'Matusiaka_6',
 'Matusiaka_6',
 'Matusiaka_3',
 'Matusiaka_3',
 'Matusiaka_1',
 'Matusiaka_1',
 'Matusiaka_7',
 'Matusiaka_7',
 'Matusiaka_11',
 'Matusiaka_11',
 'Matusiaka_9',
 'Matusiaka_9',
 'Matusiaka_9',
 'Matusiaka_9',
 'Zaruskiego_11',
 'Zaruskiego_11',
 'Zaruskiego_9',
 'Zaruskiego_9',
 'Matusiaka_12',
 'Matusiaka_12',
 'Zaruskiego_2',
 'Zaruskiego_2',
 'Zaruskiego_2',
 'Zaruskiego_2',
 'Zaruskiego_4',
 'Zaruskiego_4',
 'Kolista_41',
 'Kolista_41',
 'Starzyńskiego_15',
 'Starzyńskiego_15',
 'Starzyńskiego_9, 11, 13',
 'Starzyńskiego_9, 11, 13',
 'Doliny Miętusiej_30  kl. 1',
 'Doliny Miętusiej_30  kl. 1',
 'Doliny Miętusiej_30  kl. 2',
 'Doliny Miętusiej_30  kl. 2',
 'Doliny Miętusiej_26',
 'Doliny Miętusiej_26',
 'Doliny Miętusiej_28 kl. 1',
 'Doliny Miętusiej_28 kl. 1',
 'Doliny Miętusiej_28 kl. 2',
 'Doliny Miętusiej_28 kl. 2',
 'Doliny Miętusiej_14',
 'Doliny Miętusiej_14',
 'Doliny Miętusiej_16',
 'Doliny Miętusiej_16',
 'Doliny Miętusiej_18',
 'Doliny Miętusiej_18',
 'Doliny Miętusiej_20',
 'Doliny Miętusiej_20',
 'Doliny Miętusiej_22',
 'Doliny Miętusiej_22',
 'Boboli_11',
 'Boboli_13',
 'Boboli_25',
 'Boboli_21',
 'Bociania_18B',
 'Bociania_18A',
 'Bociania_16',
 'Bociania_16A',
 'Bociania_16B',
 'Boboli_23',
 'Boboli_41',
 'Aleja Armii Krajowej_132a',
 'Aleja Armii Krajowej_132',
 'Aleja Armii Krajowej_141',
 'Aleja Armii Krajowej_141',
 'Aleja Armii Krajowej_143',
 ...]

# Stworzenie tensora nazw

In [6]:
'''Wydobycie adresu [i] i ręczne przypisanie do zmiennej jest proste.
Tutaj jednak proponuję metodę, która pobiera identyfikatory adresu i tworzy z nich zmienne.
Do tych zmiennych zostaje przypisany dataframe identyfikowany po indeksie. Na zasadzie:
A) Mieszka_I_2 = To adresy o ID 484500 -> szukaj i przypisz wiersze mające ten ID do zmiennej
B) Do zmiennej NazwaUlicy, przechowującej obiekt typu data frame dodaj kolumnę z rodzajem licznika 
   Adres["Licznik"] = licznik o indeksie pasującym do danego adresu
C) Zapisz plik do CSV   '''

'Wydobycie adresu [i] i ręczne przypisanie do zmiennej jest proste.\nTutaj jednak proponuję metodę, która pobiera identyfikatory adresu i tworzy z nich zmienne.\nDo tych zmiennych zostaje przypisany dataframe identyfikowany po indeksie. Na zasadzie:\nA) Mieszka_I_2 = To adresy o ID 484500 -> szukaj i przypisz wiersze mające ten ID do zmiennej\nB) Do zmiennej NazwaUlicy, przechowującej obiekt typu data frame dodaj kolumnę z rodzajem licznika \n   Adres["Licznik"] = licznik o indeksie pasującym do danego adresu\nC) Zapisz plik do CSV   '

In [113]:
len(adresy)

2325

In [137]:
'''Weźmy 10 pierwszych adresów'''
adresy[:10]

['Mieszka I_2',
 'Piastowska_44',
 'Mieszka I_5',
 'Skargi_4',
 'Piekarska_50',
 'Krakowska_43',
 'Doliny Miętusiej_25',
 'Towarzystwa Szkoły Ludowej_14',
 'Mickiewicza_38',
 'Piastowska_62']

In [136]:
'''Ten skrypt zapisuje adresy jako zmienne, ma postać tensora. Nie jest to najefektywniejsza metoda, 
daltego proponuję robić co 10 ulic'''
ulice_zmienne = []
#for i in range(len(adresy[:2000])):
for i in range(10):
    vars()[adresy[i].replace(" ","")] = df[df['ID_nadrz']==int(liczniki[i])]
    print(adresy[i])
    ulice_zmienne.append(vars()[adresy[i].replace(" ","")])

Mieszka I_2
Piastowska_44
Mieszka I_5
Skargi_4
Piekarska_50
Krakowska_43
Doliny Miętusiej_25
Towarzystwa Szkoły Ludowej_14
Mickiewicza_38
Piastowska_62

In [111]:
'''Do zrobienia - dynamiczna zmiana indeksów'''

df[df['ID_nadrz']==401001]

Empty DataFrame
Columns: [Godz, ID_nadrz, Pz[kPa], Pp[kPa], Tz[°C], Tp[°C], Gco[t/h], Tzco[°C], Tpco[°C], Qco[GJ], Vco[m3], Vuz[m3], Gcw[t/h], Gcw[t/h]_1, Gcw[t/h]_2, Qcw[GJ], Vcw[m3], Vzw[m3], Ee[kWh], Pz[kPa]_3, Pp[kPa]_4, Tz[°C]_5, Tp[°C]_6, dTco[°C], Gco[t/h]_7, Tzco[°C]_8, Tpco[°C]_9, Qco[GJ]_10, Vco[m3]_11, Pcw[kPa], Tcw[°C], Tcyrk[°C], dTcw[°C], Gcw[t/h]_12, Tzcw[°C], Qcw[GJ]_13, Vcw[m3]_14, Gcy[t/h], Tzcy[°C], Qcy[GJ], Vcy[m3], Toto[°C]]
Index: []

[0 rows x 42 columns]

# Dodanie licznika - ręcznie

In [129]:
'''Chcę mieć pewność że indeks 0 to Mieszka I'''
adresy[999]

'Aleja Armii Krajowej_143'

In [130]:
ulice_zmienne[999]

Empty DataFrame
Columns: [Godz, ID_nadrz, Pz[kPa], Pp[kPa], Tz[°C], Tp[°C], Gco[t/h], Tzco[°C], Tpco[°C], Qco[GJ], Vco[m3], Vuz[m3], Gcw[t/h], Gcw[t/h]_1, Gcw[t/h]_2, Qcw[GJ], Vcw[m3], Vzw[m3], Ee[kWh], Pz[kPa]_3, Pp[kPa]_4, Tz[°C]_5, Tp[°C]_6, dTco[°C], Gco[t/h]_7, Tzco[°C]_8, Tpco[°C]_9, Qco[GJ]_10, Vco[m3]_11, Pcw[kPa], Tcw[°C], Tcyrk[°C], dTcw[°C], Gcw[t/h]_12, Tzcw[°C], Qcw[GJ]_13, Vcw[m3]_14, Gcy[t/h], Tzcy[°C], Qcy[GJ], Vcy[m3], Toto[°C]]
Index: []

[0 rows x 42 columns]

In [100]:
'''Sprawdźmy czy się zgadza struktura'''
ulice_zmienne[0].head()

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,dTcw[°C],Gcw[t/h]_12,Tzcw[°C],Qcw[GJ]_13,Vcw[m3]_14,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
13344,2021-01-01 00:00:00,484500,_,_,_,_,0.91,NaN,NaN,NaN,...,_,_,_,_,_,_,_,_,_,_
13345,2021-01-01 01:00:00,484500,_,_,_,_,0.95,81.3,52.4,1770.320,...,_,_,_,_,_,_,_,_,_,_
13346,2021-01-01 02:00:00,484500,_,_,_,_,1.00,81.4,53.3,1770.440,...,_,_,_,_,_,_,_,_,_,_
13347,2021-01-01 03:00:00,484500,_,_,_,_,1.02,81.3,53.8,1770.560,...,_,_,_,_,_,_,_,_,_,_
13348,2021-01-01 04:00:00,484500,_,_,_,_,1.01,81.5,54.0,1770.670,...,_,_,_,_,_,_,_,_,_,_

In [41]:
ulice_zmienne[0].rename(columns={'Tp_deg':'Tp[deg]'},inplace=True)

C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2360031018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[0].rename(columns={'Tp_deg':'Tp[deg]'},inplace=True)

In [152]:
ulice_zmienne[0]

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,dTcw[°C],Gcw[t/h]_12,Tzcw[°C],Qcw[GJ]_13,Vcw[m3]_14,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
13344,2021-01-01 00:00:00,484500,_,_,_,_,0.91,NaN,NaN,NaN,...,_,_,_,_,_,_,_,_,_,_
13345,2021-01-01 01:00:00,484500,_,_,_,_,0.95,81.3,52.4,1770.320,...,_,_,_,_,_,_,_,_,_,_
13346,2021-01-01 02:00:00,484500,_,_,_,_,1.00,81.4,53.3,1770.440,...,_,_,_,_,_,_,_,_,_,_
13347,2021-01-01 03:00:00,484500,_,_,_,_,1.02,81.3,53.8,1770.560,...,_,_,_,_,_,_,_,_,_,_
13348,2021-01-01 04:00:00,484500,_,_,_,_,1.01,81.5,54.0,1770.670,...,_,_,_,_,_,_,_,_,_,_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15168259,2022-08-31 19:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15168260,2022-08-31 20:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15168261,2022-08-31 21:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15168262,2022-08-31 22:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15168263,2022-08-31 23:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
len(ulice_zmienne)

10

# Dodanie licznika - iteracja

In [154]:
for i in range(len(ulice_zmienne)):
    ulice_zmienne[i]["LicznikTyp"] = typy[i]

C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]
C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_4832\2917286280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ulice_zmienne[i]["LicznikTyp"] = typy[i]

In [156]:
ulice_zmienne[8]

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,Gcw[t/h]_12,Tzcw[°C],Qcw[GJ]_13,Vcw[m3]_14,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C],LicznikTyp
13272,2021-01-01 00:00:00,462800,_,_,_,_,1.81,81.3,53.6,8971.220,...,_,_,_,_,_,_,_,_,_,Licznik CO
13273,2021-01-01 01:00:00,462800,_,_,_,_,1.94,81.7,54.6,8971.440,...,_,_,_,_,_,_,_,_,_,Licznik CO
13274,2021-01-01 02:00:00,462800,_,_,_,_,1.95,NaN,55.1,8971.650,...,_,_,_,_,_,_,_,_,_,Licznik CO
13275,2021-01-01 03:00:00,462800,_,_,_,_,2.12,NaN,55.7,8971.880,...,_,_,_,_,_,_,_,_,_,Licznik CO
13276,2021-01-01 04:00:00,462800,_,_,_,_,2.15,81.8,56.4,8972.110,...,_,_,_,_,_,_,_,_,_,Licznik CO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15168187,2022-08-31 19:00:00,462800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10506.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168188,2022-08-31 20:00:00,462800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10506.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168189,2022-08-31 21:00:00,462800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10506.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168190,2022-08-31 22:00:00,462800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10506.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168191,2022-08-31 23:00:00,462800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10506.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO

In [157]:
typy[9]

'Licznik CO'

# Zapis do CSV

In [16]:
ulice_zmienne[0].to_csv(adresy[0].replace(" ","")+'_'+typy[0].replace("Licznik ", "")+'_FULL_V3'+'.csv',index=False,encoding='utf-8')

In [17]:
adresy[0].replace(" ","")

'MieszkaI_2'

In [158]:
'''I z automatu :)'''
for i in range(10):
    ulice_zmienne[i].to_csv(adresy[i].replace(" ","")+'_'+typy[i].replace("Licznik ", "")+'_ITER'+'.csv',index=False)